# SystemD Service for Forms
# location: /etc/systemd/system/
# file: /etc/systemd/system/forms.service
# update systemd: sudo systemctl daemon-reload
# restart: sudo systemctl restart forms
# status: sudo systemctl status forms
# start-on-boot: sudo systemctl enable forms

[Unit]
Description=Forms

[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v20.14.0/bin/node /home/ubuntu/forms/index.js

# Required on some systems
WorkingDirectory=/home/ubuntu/forms

# Restart service after 10 seconds if node service crashes
Restart=always
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-forms

# Environmental variables
Environment=NODE_ENV=live PORT=9197

[Install]
WantedBy=multi-user.target