{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h5 mb-0">View All</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/admin/evaluatees/create" class="btn btn-sm btn-outline-primary">Create</a>
            </div>
        </div>
    </div>
   
    <div class="tab-content p-3">
        
        {% include 'parts/flash.html' %}

        {% if rows.length <= 0 %}

            <div class="alert alert-info">No Evaluatee found.</div>

        {% else %}
        <div class="table-responsive">
            <table class="table table-sm table-striped mb-0">
                <tr>
                    <th width="3%">&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Gender</th>
                    <th>College</th>
                    <th>&nbsp;</th>
                </tr>
                {% for row in rows %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>
                        {% if row.photo %}
                            <img width=25" src="{{row.photo}}" alt="">
                        {% endif %}
                    </td>
                    <td> {{row.lastName}}, {{row.firstName}} {{row.middleName|first('.')}} {{row.suffix}}</td>
                    <td>{{row.position}}</td>
                    <td>{{row.gender}}</td>
                    <td>
                        {{row.colleges|join(", ")}}
                    </td>
                    <td>
                        <a href="/admin/evaluatees/{{row.id}}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}