<h1 class="h4 text-center">GSU Forms Data Privacy</h1>
<p class="text-center">(For Employees)</p>
<p><strong>Guimaras State University (GSU)</strong> aims to comply with the <strong>Data Privacy Act of 2012 (DPA)</strong> and cooperate fully with the <strong>National Privacy Commission (NPC)</strong>. We regard your privacy with utmost importance. GSU is committed to meeting both your personal privacy, which is important to us, and ensuring that our genuine and legitimate interests as an educational institution and our ability to fully and effectively carry out our responsibilities as such are met. </p>

<p>In this Form, the terms, “personal data” and “information” are used interchangeably. When we speak of “personal data”, the term includes the concepts of personal information, sensitive personal information, and privileged information. The first two are typically used to distinctively identify you. For their exact definitions, you may refer to the text of the <a target="_blank" href="https://www.privacy.gov.ph/data-privacy-act/">DPA</a>.</p>

<h6 class="font-weight-bold mb-3">Processing of Personal Data </h6>

<div class="pl-md-4">
    <h6>A. Collection of Information</h6>
    <div class="pl-md-4">
        <p>We collect your personal data that include those you provide us during your form fill-up.</p>
        <p>Upon filling-up the form, we collect information such as – but not limited to – name, email, educational data, digital signature, etc.</p>
    </div>

    <h6>B. Access to Information </h6>
    <div class="pl-md-4">
        <p>Your personal information is accessed and used by GSU and any other personnel who have legitimate interest in it for the purpose of carrying out their mandated duties. 
        <p>We use and share your information as permitted or required by law to pursue our legitimate interests as an educational institution.</p>
       
    </div>

    <h6>C. Sharing of Information </h6>
    <div class="pl-md-4">
        <p>Some examples of when we may share or disclose your personal information to others include: </p>
        <ol>
            <li>Reporting and/or disclosing information to the NPC and other government bodies or agencies (e.g., Commission on Higher Education, Civil Service Commission, etc.);</li>
            <li>Sharing information for accreditation and university ranking purposes;</li>
            <li>Conducting research or surveys for purposes of institutional development; </li>
        </ol>
    </div>
</div>
<h6 class="font-weight-bold mb-3">Data Protection</h6>
<div class="pl-md-4">

    <p>We shall implement reasonable and appropriate organizational, physical, and technical security measures for the protection of personal data which we collected. </p>

    <p>The security measures shall aim to maintain the availability, integrity, and confidentiality of personal data and are intended for the protection of personal data against any accidental or unlawful destruction, alteration, and disclosure, as well as against any other unlawful processing </p>

    <p>We only permit your data to be accessed or processed by our authorized personnel who hold such information under strict confidentiality. We restrict access to information to anyone who like to know/obtain such information without justifiable ground. </p>

    <p>Any data security incident or breach that comes to the knowledge of GSU will be recorded and reported as required by law. GSU will take all necessary and reasonable steps to address such incident or breach and mitigate any negative effect of such incident or breach. If there is strong suspicion that an incident affects your personal information, GSU will notify you of such incident in an appropriate manner. </p>
</div>

<h6 class="font-weight-bold mb-3">Confidentiality </h6>
<div class="pl-md-4">
    <p>Authorized personnel shall operate and hold personal data under strict confidentiality. They are required to sign non-disclosure agreements and have received training on the institution’s privacy and security policies to ensure confidentiality and security of personal data. </p>
</div>

<h6 class="font-weight-bold mb-3">Right to Privacy  </h6>
<div class="pl-md-4">
    <p>As provided by the Act, you may object to the processing of your personal data, request to access your personal information, and/or have it corrected, erased, or blocked on reasonable grounds. For the details of your rights as a data subject, you can get in touch with our Data Privacy Officer at contact details below or at National Privacy Commission at https://privacy.gov.ph/. GSU will consider your request and reserves the right to deal with the matter in accordance with the law. </p>
</div>

<h6 class="font-weight-bold mb-3">Contact Information  </h6>
<div class="pl-md-4">
    <p>If you have further questions or concerns regarding your privacy rights, this document or any matter regarding the Data Privacy Act of 2012, you may contact our Data Protection Officer through the following details: </p>
    <p class="text-center">
        The GSU Data Privacy Response Team <br>
        <strong>Dr. Simeon J. Cainday III</strong>  <br>
        Data Protection Officer<br>
        Tel No. <a href="tel:+639338608261">+63 933 860 8261</a><br>
        E-mail address: <a href="mailto:dpo@GSU.edu.ph" class="">dpo@GSU.edu.ph</a>
    </p>
</div>
