{% extends "document.html" %}

{% block body %}
<div class="col-md-12">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
          
            <h1 class="h2 ml-2">Forms</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/form/create" class="btn btn-sm btn-outline-primary">Add Form</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    {% if forms.length <= 0 %}
        <p>None found.</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th class="text-center" width="10%"></th>
                        <th width="10%">
                            Name
                        </th>
                        <th width="15%">
                            AY
                        </th>
                        <th>Sem</th>
                        <th>Period</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for form in forms %}
                    <tr>
                        <td>{{form.id}}</td>
                        <td>{{form.name}}</td>
                        <td>
                            {{form.academicYear}}
                        </td>
                        <td>
                            {{form.semester}}
                        </td>
                        <td>
                            {{form.ratingPeriodStart|format_date('MMM DD, YYYY')}} to
                            {{form.ratingPeriodEnd|format_date('MMM DD, YYYY')}}
                        </td>
                        <td>
                            <a href="/survey/{{form.uniqueKey}}">View</a>  | 
                            <a href="/form/update/{{form.id}}">Edit</a> | <a onclick="return confirm('Delete this form permanently?');" class="text-danger" href="/form/delete/{{form.id}}">X</a>
                        </td>
                    </tr>
                    
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">

            <div class="col-md-6 text-center text-md-left">

            </div>
            <div class="col-md-6 text-center text-md-right">
                {% include "parts/pagination.html" %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

