{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Create Form</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/form/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/form/create" method="POST" class="form-default">
            
            <div class="form-group">
                <label for="name"><strong>Form Name</strong> <span class="text-danger">*</span></label>
                <div>
                    <input name="name" id="name" v-model="name" type="text" class="form-control">
                    <small class="invalid-feedback">${getError('name')}</small>
                </div>
            </div>
            <div class="form-group">
                <label for="description"><strong>Form Description</strong></label>
                <div>
                    <textarea name="description" id="description" v-model="description" class="form-control" cols="30" rows="5"></textarea>
                    <small class="invalid-feedback">${getError('description')}</small>
                </div>
            </div>
			<div class="form-group">
                <label for="academicYear"><strong>Academic Year</strong> <span class="text-danger">*</span></label>
                <div>
                    <select v-model="academicYear" name="academicYear" id="academicYear" class="form-control">
                        <option value=""></option>
                        {% for academicYear in academicYears %}
                            <option value="{{academicYear}}">{{academicYear}}</option>
                        {% endfor %}
                    </select>
                    <small class="invalid-feedback">${getError('academicYear')}</small>
                </div>
            </div>
			<div class="form-group">
                <label for="semester"><strong>Semester</strong> <span class="text-danger">*</span></label>
                <div>
                    <select v-model="semester" name="semester" id="semester" class="form-control">
                        <option value=""></option>
                        <option value="1">1st</option>
                        <option value="2">2nd</option>
                    </select>
                    <small class="invalid-feedback">${getError('semester')}</small>
                </div>
            </div>
			<div class="form-group">
                <label for="ratingPeriodStart"><strong>Rating Period From</strong> <span class="text-danger">*</span></label>
                <div>
                    <input name="ratingPeriodStart" id="ratingPeriodStart" v-model="ratingPeriodStart" type="date" class="form-control">
                    <small class="invalid-feedback">${getError('ratingPeriodStart')}</small>
                </div>
            </div>
			<div class="form-group">
                <label for="ratingPeriodEnd"><strong>Rating Period From</strong> <span class="text-danger">*</span></label>
                <div>
                    <input name="ratingPeriodEnd" id="ratingPeriodEnd" v-model="ratingPeriodEnd" type="date" class="form-control">
                    <small class="invalid-feedback">${getError('ratingPeriodEnd')}</small>
                </div>
            </div>

            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            name: '',
            description: '',
            academicYear: '{{academicYears[0]}}',
            semester: '',
            ratingPeriodStart: '',
            ratingPeriodEnd: '',
        },
        validations: {
            name: {
                required: window.validators.required
            },
			academicYear: {
                required: window.validators.required
            },
            semester: {
                required: window.validators.required
            },
            ratingPeriodStart: {
                required: window.validators.required
            },
            ratingPeriodEnd: {
                required: window.validators.required
            },
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

