{% extends "document-public.html" %}

{% block body %}
<div class="col-md-12 p-3">
    <div id="vApp" v-cloak class="tab-content p-4">
        <form ref="form" v-on:submit.prevent="onSubmit" action="/survey/{{form.uniqueKey}}" method="POST" class="form-default">
            <h1 class="h2 text-center mb-5">Instrument Instruction/Teaching Effectiveness</h1>
            <div id="carouselForms" data-interval="false" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        {# 1 #}
                        <h2 class="h3 text-center mb-2">Select Faculty to Evaluate</h2>
                        <div class="evaluatee-selections row">
                            <div v-for="evaluatee in evaluatees" class="col-md-3 col-xl-2 text-center">
                                <div v-bind:data-selected="isSelected(evaluatee)" class="evaluatee-selection m-auto">
                                    <div class="photo">
                                        <a v-on:click="select($event, evaluatee)" href="#"><img v-bind:src="`/images/officials/${evaluatee.photo}`" alt="photo" width="150" height="150" /></a>
                                    </div>
                                    <div class="details">
                                        <h3 class="name">${evaluatee.name}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 bg-light d-flex justify-content-between">
                            <div></div>
                            <button v-on:click="goto(1)" v-bind:disabled="isDisabled" type="button" class=" btn btn-primary">${btnEvaluate} &raquo;</button>
                        </div>
                        {# 1 #}
                    </div>
                    <div class="carousel-item">
                        {# 2 #}
                        <h2 class="h4 mb-4">Instruction: Please evaluate ${name} using the scale below.</h2>
                        <div class="table-responsive">
                            <table class="table table-sm mb-4">
                                <tr>
                                    <th class="text-center">Scale</th>
                                    <th class="text-center">Descriptive</th>
                                    <th class="text-center">Qualitative</th>
                                </tr>
                                <tr>
                                    <td class="text-center">5</td>
                                    <td class="text-center">Outstanding</td>
                                    <td>The performance almost always exceeds the job requirements. The faculty is an exceptional model.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td class="text-center">Very Satisfactory</td>
                                    <td>The performance meets and often exceeds the job requirements.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td class="text-center">Satisfactory</td>
                                    <td>The performance meets the job requirements.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td class="text-center">Fair</td>
                                    <td>The performance needs some development to meet job requirements.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Poor</td>
                                    <td>The facultyfails to meet job requirements.</td>
                                </tr>
                            </table>
                        </div>
                        {% for letter, q in questionGroups %}
                            <h2 class="h4 mb-4">{{letter}}. {{q.title}}</h2>
                            {% for question in q.questions %}
                                <div class="form-group row">
                                    {% set qIndex = letter + loop.index %}
                                    <label for="{{qIndex}}" class="col-md-8">{{loop.index}}. {{question}}</label>
                                    <div class="col-md-4 align-items-end">
                                        {% for x in [5,4,3,2,1] %}
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input v-model="answers.{{qIndex}}" type="radio" id="{{qIndex}}{{x}}" name="{{qIndex}}" value="{{x}}" class="custom-control-input">
                                                <label class="custom-control-label" for="{{qIndex}}{{x}}">{{x}}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <!--  -->
                        <div class="form-group row">
                            <label for="comments" class="col-sm-6 col-form-label">Aside from the above-mentioned criteria, what are your comments or suggestions?</label>
                            <div class="col-sm-6">
                                <textarea name="comments" id="comments" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="p-3 bg-light d-flex justify-content-between">
                            <button v-on:click="goto(0)" type="button" class=" btn btn-light">&laquo; Back</button>
                            <button v-on:click="goto(2)" type="button" class=" btn btn-primary">Next &raquo;</button>
                        </div>
                        {# 2 #}
                    </div>
                    <div class="carousel-item">
                        {# 3 #}
                        <h2 class="h2 mb-3">Evaluator</h2>
                        <div class="form-group row">
                            <label for="evaluatorType" class="col-sm-2 col-form-label">I am evaluating:</label>
                            <div class="col-sm-10">
                                <select v-model="evaluatorType" name="evaluatorType" id="evaluatorType" class="form-control">
                                    <option></option>
                                    <option value="self">My Self</option>
                                    <option value="peer">A Peer</option>
                                    <option value="student">As a Student</option>
                                    <option value="supervisor">As the Supervisor</option>
                                </select>
                                <small class="invalid-feedback">${getError('evaluatorType')}</small>

                            </div>
                        </div>
                       
                        <div class="form-group row">
                            <label for="evaluatorEmail" class="col-sm-2 col-form-label">My Email</label>
                            <div class="col-sm-10">
                                <input v-model="evaluatorEmail" name="evaluatorEmail" id="evaluatorEmail" type="email" class="form-control">
                                <small class="invalid-feedback">${getError('evaluatorEmail')}</small>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="evaluatorName" class="col-sm-2 col-form-label">My Name</label>
                            <div class="col-sm-10">
                                <input v-model="evaluatorName" name="evaluatorName" id="evaluatorName" type="text" class="form-control" placeholder="Last Name, First Name, Middle Name">
                                <small class="invalid-feedback">${getError('evaluatorName')}</small>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="evaluatorCourse" class="col-sm-2 col-form-label">My Course</label>
                            <div class="col-sm-10">
                                <select v-model="evaluatorCourse" name="evaluatorCourse" id="evaluatorCourse" class="form-control">
                                    <option></option>
                                    <option>BACHELOR OF ELEMENTARY EDUCATION (Major in General Education)</option>
                                    <option>BACHELOR OF SECONDARY EDUCATION (Major in English)</option>
                                    <option>BACHELOR OF SECONDARY EDUCATION (Major in Filipino)</option>
                                    <option>BACHELOR OF SECONDARY EDUCATION (Major in Mathematics)</option>
                                    <option>BACHELOR OF SECONDARY EDUCATION (Major in Science)</option>
                                    <option>BACHELOR OF SECONDARY EDUCATION (Major in Social Studies)</option>
                                    <option>BACHELOR OF TECHNOLOGY AND LIVELIHOOD EDUCATION (Major in Home Economics and Livelihood Education)</option>
                                </select>
                                <small class="invalid-feedback">${getError('evaluatorCourse')}</small>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="evaluatorYearLevel" class="col-sm-2 col-form-label">My Year Level</label>
                            <div class="col-sm-10">
                                <select v-model="evaluatorYearLevel" name="evaluatorYearLevel" id="evaluatorYearLevel" class="form-control">
                                    <option></option>
                                    <option>First Year</option>
                                    <option>Second Year</option>
                                    <option>Third Year</option>
                                    <option>Fourth Year</option>
                                </select>
                                <small class="invalid-feedback">${getError('evaluatorYearLevel')}</small>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="evaluatorSection" class="col-sm-2 col-form-label">My Section</label>
                            <div class="col-sm-10">
                                <select v-model="evaluatorSection" name="evaluatorSection" id="evaluatorSection" class="form-control">
                                    <option></option>
                                    <option>A</option>
                                    <option>B</option>
                                </select>
                                <small class="invalid-feedback">${getError('evaluatorSection')}</small>

                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="evaluatorSignature" class="col-sm-2 col-form-label">My Signature</label>
                            <div class="col-sm-10">
                                <div id="signature-pad" style="background: #ccc; padding:5px;">
                                    <div>Use fingertips, mouse or tablet with pen to sign</div>
                                    <div style="background: #fff; margin-bottom: 5px;">
                                        <canvas style="cursor: crosshair; box-sizing:content-box; width: 100%; height: 300px;"></canvas>
                                    </div> 
                                    <div class="form-row">
                                        <div class="col-6">
                                            <button v-on:click="clearSignature" class="btn btn-link text-danger btn-sm" type="button" id="clear-signature">Erase</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 bg-light d-flex justify-content-between">
                            <button v-on:click="goto(1)" type="button" class=" btn btn-light">&laquo; Back</button>
                            <button v-on:click="saveSignature" class="btn btn-primary" type="button" id="save-signature">Sign and Submit</button>
                        </div>
                        
                        {# 3 #}
                    </div>
                </div>
                {# 
                <ol class="carousel-indicators">
                    <li data-target="#carouselForms" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselForms" data-slide-to="1"></li>
                    <li data-target="#carouselForms" data-slide-to="2"></li>
                </ol> 
                #}
            </div>
            <input v-model="evaluatee" type="hidden" name="evaluatee">
            <textarea v-model="evaluatorSignature" name="evaluatorSignature" id="evaluatorSignature" style="visibility: hidden" cols="30" rows="10"></textarea>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/signature_pad.min.js"></script>
<script>
    
</script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
       
        data: {
            page: 0,
            formTitle: '{{formTitle|default("COLLEGE OF TEACHER EDUCATION ONLINE EVALUATION ON TEACHING EFFECTIVENESS", true)}}',
            ratingPeriod: '{{ratingPeriods[0]}}',
            ratingPeriodSemester: '',
            questionGroups: {{questionGroups|default([], true)|stringify|safe}},
            evaluatees: {{evaluatees|default([], true)|stringify|safe}},
            answers: {{answers|default({}, true)|stringify|safe}},
            evaluatee: '',
            signaturePad: null,
            evaluatorType: '',
            evaluatorEmail: '',
            evaluatorName: '',
            evaluatorCourse: '',
            evaluatorYearLevel: '',
            evaluatorSection: '',
            evaluatorSignature: '',
        },
        validations: {
            evaluatorType: {
                required: window.validators.required
            },
            evaluatorEmail: {
                required: window.validators.required
            },
            evaluatorName: {
                required: window.validators.required
            },
            evaluatorCourse: {
                required: window.validators.required
            },
            evaluatorYearLevel: {
                required: window.validators.required
            },
            evaluatorSection: {
                required: window.validators.required
            },
        },
        computed: {
            name: function(){
                let me = this;
                let s = this.evaluatees.find(e=>{
                    return e.id === me.evaluatee
                })
                if(s){
                    return s.name
                }
                return ""
            },
            btnEvaluate: function(){
                return "Evaluate " + this.name
            },
            isDisabled: function(){
                return (this.evaluatee) ? false : 'disabled';
            },
        },
        mounted: function(){
            var canvas = document.querySelector("#signature-pad canvas");
            var signaturePad = new SignaturePad(canvas, {
                // It's Necessary to use an opaque color when saving image as JPEG;
                // this option can be omitted if only saving as PNG or SVG
                backgroundColor: 'rgba(255, 255, 255, 0)',
                penColor: "blue"
            });
            this.signaturePad = signaturePad;

            // Adjust canvas coordinate space taking into account pixel ratio,
            // to make it look crisp on mobile devices.
            // This also causes canvas to be cleared.
            function resizeCanvas() {
                // When zoomed out to less than 100%, for some very strange reason,
                // some browsers report devicePixelRatio as less than 1
                // and only part of the canvas is cleared then.
                var ratio =  Math.max(window.devicePixelRatio || 1, 1);

                // This part causes the canvas to be cleared
                canvas.width = canvas.offsetWidth * ratio;
                canvas.height = canvas.offsetHeight * ratio;
                canvas.getContext("2d").scale(ratio, ratio);

                // This library does not listen for canvas changes, so after the canvas is automatically
                // cleared by the browser, SignaturePad#isEmpty might still return false, even though the
                // canvas looks empty, because the internal data of this library wasn't cleared. To make sure
                // that the state of this library is consistent with visual state of the canvas, you
                // have to clear it manually.
                signaturePad.clear();
            }

            // On mobile devices it might make more sense to listen to orientation change,
            // rather than window resize events.
            window.addEventListener("resize", resizeCanvas);
            resizeCanvas();
            
            {# this.goto(2) #}

            {# this.evaluatorType = 'self'
            this.evaluatorEmail = 'amarillanico@gmail.com'
            this.evaluatorName = 'Amarilla, Nico, Gayapa'
            this.evaluatorCourse = 'BACHELOR OF ELEMENTARY EDUCATION (Major in General Education)'
            this.evaluatorYearLevel = 'First Year'
            this.evaluatorSection = 'A' #}

        },
        watch: {
            page: function (newPage, oldPage) {
                var me = this;
                

                if(newPage === 1) {
                    

                } else if(newPage === 2) {

                    

                } else if(newPage === 3) {
                   
                }

                jQuery('#carouselForms').carousel(newPage)
                jQuery('html,body').animate({
                    scrollTop: 0
                }, 200, 'swing');
            }
        },
        methods: {
            clearSignature: function(){
                this.signaturePad.clear();
                this.evaluatorSignature = '';
            },
            saveSignature: function(){
                if (this.signaturePad.isEmpty()) {
                    alert("Please provide a signature first.");
                } else {
                    var dataURL = this.signaturePad.toDataURL();
                    this.evaluatorSignature = dataURL;
                    this.onSubmit()
                }
            },
            goto: function(page) {
                var me = this;
                if(page == 2){
                    var keys = []
                    var blanks = _.filter(me.answers, function(a, key){
                        if(!a){
                            keys.push(key)
                        }
                        return !a;
                    })
                    
                    var count = blanks.length
                    if(count >= 2) {
                        alert('Please answer these ' + count + ' questions: ' + keys.join(', '))
                        return false

                    } else if(count >= 1) {
                        alert('You forgot to answer a question: ' + keys.join(', '))
                        return false
                    }
                }
              
                this.page = page
            },
            select: function(e, evaluatee){
                e.preventDefault()

                this.evaluatee = evaluatee.id
            },
            isSelected: function(evaluatee){
                return evaluatee.id == this.evaluatee
            },
            onSubmit: function(){
                var me = this;
              
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

